*.class
*.docx
*.doc
*.zip
*.bat
*.cmd
*.pyc
*.py
*.txt
*.txt~
*.cfg~
*.sh
*.properties
*.lzma
*.cfg
*.lang

# Package Files #
*.jar
*.war
*.ear

# Base Folders #
Build/*
Submissions/*
Crowdin/*
Forge/*

# 1.6.4 Folders #
Minecraft/1.6.4/client/*
Minecraft/1.6.4/common/*
Minecraft/1.6.4/fml/*
Minecraft/1.6.4/patches/*
Minecraft/1.6.4/mcp/bin/*
Minecraft/1.6.4/mcp/conf/*
Minecraft/1.6.4/mcp/docs/*
Minecraft/1.6.4/mcp/eclipse/*
Minecraft/1.6.4/mcp/jars/*
Minecraft/1.6.4/mcp/lib/*
Minecraft/1.6.4/mcp/logs/*
Minecraft/1.6.4/mcp/modsrc/*
Minecraft/1.6.4/mcp/reobf/*
Minecraft/1.6.4/mcp/runtime/*
Minecraft/1.6.4/mcp/src/minecraft/cpw/*
Minecraft/1.6.4/mcp/src/minecraft/ibxm/*
Minecraft/1.6.4/mcp/src/minecraft/net/*
Minecraft/1.6.4/mcp/src/minecraft/paulscode/*
Minecraft/1.6.4/mcp/temp/*

# 1.6.4 Files #
Minecraft/1.6.4/mcp/src/minecraft/Minecraft_logo.png
Minecraft/1.6.4/mcp/src/minecraft/Start.java
Minecraft/1.6.4/mcp/CHANGELOG
Minecraft/1.6.4/mcp/src/minecraft/mcpmod.info
Minecraft/1.6.4/mcp/src/minecraft/mcp.png
Minecraft/1.6.4/mcp/src/minecraft/assets/Minecraft/*
Minecraft/1.6.4/mcp/src/minecraft/assets/Minecraft/*
Minecraft/1.6.4/mcp/src/minecraft/assets/Minecraft/*

# 1.7.2 Folders #
Minecraft/1.7.2/*

# Do Not Ignore #
!/Assemble.py
!/Master.properties
!/Minecraft/1.6.4/mcp/getchangedsrc.bat
!/Minecraft/1.6.4/mcp/recompile.bat
!/Minecraft/1.6.4/mcp/reobfuscate.bat